* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.faq-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid grey;
}

.faq.active {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    .faq-text {
        display: block;
        margin-top: 10px;
    }
}

.faq-title {
    width: 90%;
    z-index: 1;
}

.faq .faq-text {
    display: none;
    z-index: 1;
}

.faq-toggle {
    display: flex;
    align-items: center;
    align-items: center;
    background-color: transparent;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px;
    border-radius: 100px;
    border: none;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}

h1 {
    margin-top: 50px;
    text-align: center;
}
