@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  overflow-x: hidden;
  background-color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}
.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

/* Circle */

.circle-container {
  top: -100px;
  position: fixed;
  left: -100px;
}
.circle {
  position: relative;
  height: 200px;
  width: 200px;
  z-index: 2;
  border-radius: 200px;
  background-color: #ff7979;
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* content */

.content {
  background-color: #fafafa;
  color: #333;
  transform-origin: top left;
  transition: transform 0.5s linear;
  min-height: 100vh;
  max-width: 1000px;
  padding-top: 50px;
  h1 {
    font-weight: bold;
  }
  small {
    font-style: italic;
    /* font-weight: bold; */
  }
  p {
    margin-top: 3%;
    line-height: 1.5;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
}

/*Nav Bar*/

nav {
  position: fixed;
  bottom: 40px;
  left: 10px;
  z-index: 5;
  color: #fafafa;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2;
}

nav ul {
  list-style-type: none;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li {
  margin-left: 15px;
  transition: transform 0.4s ease-in;
  transform: translate(-100%);
}

nav ul li + li {
  margin-left: 25px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 35px;
  transform: translateX(-200%);
}
